/* @import url("https://fonts.googleapis.com/css2?family=Inter&family=Krub:wght@200&family=Lora&family=Montserrat:wght@400;500&family=Roboto&family=Rubik:wght@300&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Krub:wght@200&family=Lora&family=Montserrat:wght@400;500&family=Roboto&family=Rubik:wght@300&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Krub:wght@200&family=Lora&family=Montserrat:wght@400;500&family=Roboto&family=Rubik:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
.subheading {
  color: #858a93;
}
.mobileNav_container {
  transform: translateY(120%);
  transition: all 0.5s ease-in-out;
}

/* Sidebar styling */
.sidebar_container {
  position: fixed;
  background-color: #1d1042;
  color: #fff;
  height: 100vh;
}
.welcome_profile {
  background-color: #45269c;
  align-items: center;
}
.sidebar_ul a {
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
.sidebar_ul a:hover {
  opacity: 0.75;
}
.sidebar_ul::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #fff;
  opacity: 0.5;
  margin: 1.5rem 0;
}
.ul_after a {
  font-weight: 100;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
.ul_after a:hover {
  opacity: 1;
}
.ul-after-icon {
  opacity: 0.5;
}
.add_new_project {
  background-color: #703efe;
  color: #fff;
  align-items: center;
  text-transform: uppercase;
  margin-top: 5rem;
}
/* Main Section styling */
.main_section {
  background-color: #fff;
  margin-left: 16.7rem;
  /* padding: 2rem 3rem; */
}
aside p {
  color: #b8b9bd;
}
/* New Campaign header styling */
.NewCampaignHeader_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}
/* member image styling */
.memberImg_container {
  position: relative;
  margin-left: -17px;
}
.memberImg_container img {
  position: absolute;
  border-radius: 100%;
}
.img1 {
  margin-left: 1rem;
  z-index: 1;
}
.img2 {
  margin-left: 2.7rem;
  z-index: 2;
}
.img3 {
  margin-left: 4.3rem;
  z-index: 3;
}
/* VIEWS STYLING */
.views {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  padding: 0 3rem;
}
.views_list {
  color: #7d8088;
  display: flex;
}
.color_gray {
  color: black !important;
}
.views_list img {
  color: #7d8088;
  align-self: center;
  width: 1rem;
  height: 1rem;
}
.member_count {
  color: #b8b9bd;
}
/* TODO SECTION STYLING */
.todo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  background-color: #fcfbfc;
  margin: 2.5rem auto;
  padding: 0 3rem;
}
.todoCard_container {
  background-color: #fcfbfc;
  width: 300px;
  margin-top: 4rem;
}
.todoCard_heading {
  background-color: #f4f6f8;
}
.todocardImg_container {
  background-color: #fff;
  width: 300px;
  margin: 2rem auto;
  padding: 1.5rem;
}
.todocardImg_container .todocardimg {
  display: block;
  width: 100%;
}
.progress_bar {
  background-color: #ebebeb;
  border-radius: 7px;
  width: 100%;
  padding: 0.3rem;
  margin: 1rem 0;
}
.gray_color_P,
.progress_h3 {
  color: #b8b9bd;
}

/* USABILITY CONTAINER */
.usability_container {
  padding: 1.5rem;
}
.add_task {
  background-color: #f2f4f5;
  color: #7d8088;
  text-align: center;
  padding: 0.8rem 0;
}
.green_progress_bar {
  background-color: #8bc488;
}
.red_color {
  background-color: #ff5f37;
  width: 50%;
}

/* @media screen and (max-width: 600px) {
  .sidebar_container {
    display: none;
  }
  .mobileNav_container {
    display: block;
    background-color: #1d1042;
    color: #fff;
    padding: 2rem 0;
  }
  .mobile_ul {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem auto;
    width: 50%;
  }
  .mobile_welcome_profile {
    background-color: #45269c;
    width: 50%;
    margin: auto;
  }
 
  .mobile_ul {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem auto;
    width: 50%;
  }
  .mobile_ul a {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
  }
  .mobile_ul a:hover {
    opacity: 0.75;
  }
  .mobile_ul::after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    bottom: -1rem;
  }
  .mobile_ul_after {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    transition: all 0.5s ease-in-out;
    width: 60%;
    margin: 3rem auto 0;
  }
  .mobile_ul_after a {
    opacity: 0.5;
  }
  .mobile_ul_after a:hover {
    opacity: 1;
  }
  .mobile_ul_after_icon {
    opacity: 0.5;
  }
  .mobile_add_new_project {
    background-color: #703efe;
    color: #fff;
    align-items: center;
    text-transform: uppercase;
    width: 50%;
    margin: 5rem auto 0;
  }
  
}*/
@media screen and (max-width: 400px) {
  .sidebar_container {
    display: none;
  }
  /* Hamburger styling */
  .hamburger {
    position: fixed;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    top: 1.5rem;
    right: 1rem;
  }

  .hamburger span {
    display: block;
    background-color: #fff;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
  }

  /* SIDEBAR MOBILE styling */
  .mobileNav_container {
    /* display: block; */
    transform: translateY(0);
    position: fixed;
    background-color: #1d1042;
    color: #fff;
    /* scrolling on the sidebar */
    /* overflow-y: scroll; */
    /* top: 0; */
    /* bottom: 0; */
    width: 70%;
    height: 100%;
    z-index: 5;
    transition: all 0.5s ease-in-out;
  }
  .welcome_profile {
    background-color: #45269c;
    align-items: center;
  }
  .sidebar_ul a {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
  }
  .sidebar_ul a:hover {
    opacity: 0.75;
  }
  .sidebar_ul::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
    margin: 1.5rem 0;
  }
  .ul_after a {
    font-weight: 100;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
  }
  .ul_after a:hover {
    opacity: 1;
  }
  .ul-after-icon {
    opacity: 0.5;
  }
  .add_new_project {
    background-color: #703efe;
    color: #fff;
    align-items: center;
    text-transform: uppercase;
    margin-top: 5rem;
  }
  /* MAIN SECTION */
  .main_section {
    background-color: #fff;
    margin: auto;
  }

  /* NEWCAMPAIGN SECTION*/
  .NewCampaignHeader_container {
    flex-direction: column;
    padding: 1rem 0;
    margin-top: 1.5rem;
  }
  .NewCampaignHeader_container h2 {
    font-size: 1.2rem;
  }
  .new-campaign-btn {
    margin-top: 2rem;
  }
  /* VIEWS SECTION */
  .views {
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem 0;
  }
  .views_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    margin-top: 2rem;
  }
  .views_list li {
    margin-bottom: 0.2rem;
  }
  /* TODO SECTION STYLING */
  .todo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
  .todoCard_container {
    margin: auto;
  }
  .todoCard_heading {
    margin: auto;
  }
}
