/* @import url("https://fonts.googleapis.com/css2?family=Inter&family=Krub:wght@200&family=Lora&family=Montserrat:wght@400;500&family=Roboto&family=Rubik:wght@300&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Krub:wght@200&family=Lora&family=Montserrat:wght@400;500&family=Roboto&family=Rubik:wght@300&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Krub:wght@200&family=Lora&family=Montserrat:wght@400;500&family=Roboto&family=Rubik:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
.subheading {
  color: #858a93;
}
/* Sidebar styling */
.sidebar_container {
  position: fixed;
  background-color: #1d1042;
  color: #fff;
  /* scrolling on the sidebar */
  /* overflow-y: scroll; */
  /* top: 0; */
  /* bottom: 0; */
}
.welcome_profile {
  background-color: #45269c;
  align-items: center;
}
.sidebar_ul a {
  font-weight: 300;
}
.sidebar_ul::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #fff;
  opacity: 0.5;
  margin: 1.5rem 0;
}
.ul_after {
  font-weight: 100;
  opacity: 0.5;
}
.add_new_project {
  background-color: #703efe;
  color: #fff;
  align-items: center;
  text-transform: uppercase;
  margin-top: 3rem;
}
/* Main Section styling */
.main_section {
  background-color: #fff;
  margin-left: 16.7rem;
  padding: 2rem 3rem;
}
aside p {
  color: #b8b9bd;
}
/* New Campaign header styling */
.NewCampaignHeader_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* member image styling */
.memberImg_container {
  position: relative;
  margin-left: -17px;
}
.memberImg_container img {
  position: absolute;
  border-radius: 100%;
}
.img1 {
  margin-left: 1rem;
  z-index: 1;
}
.img2 {
  margin-left: 2.7rem;
  z-index: 2;
}
.img3 {
  margin-left: 4.3rem;
  z-index: 3;
}
/* VIEWS STYLING */
.views {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}
.views_list {
  color: #7d8088;
  display: flex;
}
.color_gray {
  color: black !important;
}
.views_list img {
  color: #7d8088;
  align-self: center;
  width: 1rem;
  height: 1rem;
}
.member_count {
  color: #b8b9bd;
}
/* TODO SECTION STYLING */
.todo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  background-color: #fcfbfc;
  margin: 2.5rem auto;
  padding: 0 0.5rem;
}
.todoCard_container {
  width: 300px;
  margin-top: 4rem;
}
.todoCard_heading {
  background-color: #f4f6f8;
}
.todocardImg_container {
  background-color: #fff;
  width: 300px;
  margin: 2rem auto;
  padding: 1rem;
}
.todocardImg_container .todocardimg {
  display: block;
  width: 100%;
}
.progress_bar {
  background-color: #ebebeb;
  border-radius: 7px;
  width: 100%;
  padding: 0.3rem;
  margin: 1rem 0;
}
.gray_color_P,
.progress_h3 {
  color: #b8b9bd;
}
.add_task {
  background-color: #f2f4f5;
  color: #7d8088;
  text-align: center;
  padding: 0.8rem 0;
}
.green_progress_bar {
  background-color: #8bc488;
}
.red_color {
  background-color: #ff5f37;
  width: 50%;
}
